[data-section="home-work"]{
    --picture-radius: .5rem;
    position: relative;
    font-family: Italiana;
    img {
        /* border: black 1px solid; */
        /* box-shadow: 0 0 6px rgb(137, 137, 137); */
        filter: drop-shadow(0px 2px 3px rgb(219, 219, 219));
        border-radius: var(--picture-radius);
        overflow: hidden;
    }
}