[data-page="home"] {
    h2 {
        font-family: Italiana;
        font-size: 1.8rem;
    }
    [data-section="tech-stacks"] {
        
    }
}

@keyframes scroll-x {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}