[data-page="home"] {
  [data-section="home-work"] {
    --picture-radius: 0.5rem;
    position: relative;
    font-family: Italiana;
    .home-work-tech-stack {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 0.3rem;
      flex-wrap: wrap;
    }
    .layover {
      position: absolute;
      padding: 1rem;
      content: attr(data-techstack);
      display: grid;
      place-items: center;
      inset: 0;
      z-index: 2;
      transition: opacity ease-in 0.3s;
      background-color: rgba(255, 255, 255, 0.9);
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }

    img {
      /* border: black 1px solid; */
      /* box-shadow: 0 0 6px rgb(137, 137, 137); */
      filter: drop-shadow(0px 2px 3px rgb(219, 219, 219));
      border-radius: var(--picture-radius);
      overflow: hidden;
    }

    &:hover {
      .layover {
        opacity: 1;
      }
      /* content: attr(data-techstack); */
    }

    /* &::before{
            position: absolute;
            content: '';
            inset-inline: var(--picture-radius);
            top: 100%;
            height: 2px;
            background-color: rgb(255, 255, 255);
            filter: drop-shadow(0px 2px 3px rgb(219, 219, 219));
            z-index: 1;
        } */

    &::after {
      position: absolute;
      content: attr(data-item);
      left: var(--picture-radius);
      bottom: 100%;
      width: fit-content;
      height: fit-content;
      padding: 0.1rem 0.5rem;
      background-color: rgb(0, 0, 0);
      color: white;
      filter: drop-shadow(1px 2px 3px rgb(219, 219, 219));
      z-index: 2;
      border-radius: 0.4rem 0.4rem 0 0;
    }
  }
}
